/* Structure de la page */
html, body{
  height: 100%;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.fill {
  min-height: 100%;
  height: 100%;
}
.maxed-out{
  max-height: 68vh;
  overflow: auto;
}
.maxed-out-timeline{
    max-height: 30vh;
}




.hidden{
	display: none;
}

/* CSS pour la liste des cues */
li, tr {
    cursor: pointer;
}

.list-group-item:hover, tbody tr:hover{
  background: #68a2ff;
  transition: background 0.5s;
}
/* Alternate cue list color */
.list-0{
  background-color: #e0e1e2;
}
.list-1{
  background-color: #fff;
}


/* CSS pour les event buttons */
.event-selected{
  background-color: grey; /*#007bff;*/
  border-color: grey; /*#007bff;*/
  color: white;
}
.event-not-selected:hover{
  background-color: grey; /*#007bff;*/
  border-color: grey; /*#007bff;*/
  color: white;
}
.event-not-selected{
  background-color: darkgrey ;/*#68a0f9;*/
  border-color: darkgrey ;/*#68a0f9;*/
  color: white;
}
.event-new{
  background-color: #404040;
  border-color: #404040;
  color: white;
}

.btn{
  margin-left: 8px;
  margin-top: 8px;
  /* margin-bottom: 5px; */
}
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
  font-size: 150%;
  padding-top: 40px;
}
#event_name_title{
  margin-left: 8px;
}
/*
.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
 */

 /*var sheet = document.styleSheets[1];
sheet.insertRule("body { background-color: red; height: 100%; }", 1);
sheet.insertRule("html { height: 100%; }", 1);
*/


canvas {
  width: 100%;
  height: 100%;
}

#chart {
    width: 100%;
    height: 30vh;
    background: rgb(218, 218, 218);
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid #2b2b2b;
    overflow-x: hidden;
    overflow-y: hidden;
}

#chart line {
    stroke: #2b2b2b;
}

#chart line.vertical-marker.now {
    stroke: #c00;
}

rect.interval.blue-interval {
    fill: #99ccff; //blue;
    stroke: #99ccff; //blue;
}

rect.interval.red-interval {
    fill: #ff99cc; //blue;
    stroke: #ff99cc; //blue;
}

rect.interval.orange-interval {
    fill: #ffcc99; //blue;
    stroke: #ffcc99; //blue;
}

rect.interval.purple-interval {
    fill: #cc99ff; //blue;
    stroke: #cc99ff; //blue;
}

rect.interval.light-green-interval {
    fill: #ccff99; //blue;
    stroke: #ccff99; //blue;
}

rect.interval.green-interval-interval {
    fill: #99ffcc; //blue;
    stroke: #99ffcc; //blue;
}

circle.blue-dot {
    fill: blue;
}

/* Override d3tip */

.d3-tip {
    background: white;
    color: black;
}

/* Tiny Flex Grid */

[flex] {
    display: flex;
}
[flex-fill] {
    flex: 1;
}
[flex-full-center] {
    align-items: center;
    justify-content: center;
}
[flex-direction=column] {
    flex-direction: column;
}
[flex-direction=row] {
    flex-direction: row;
}
[flex-size="40"] {
    flex: 40;
}
[flex-size="60"] {
    flex: 60;
}



html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 7px; height: 0px;}
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}
